<launch>

    <arg name="marker1Id"         default="0"/>
    <arg name="marker2Id"         default="1"/>
    <arg name="marker3Id"         default="2"/>
    <arg name="marker4Id"         default="3"/>
    <arg name="marker5Id"         default="4"/>
    <arg name="markerSize"        default="0.1"/>    <!-- in m (Default 0.05) 0.045 0.096-->
    <arg name="eye"               default="rgb"/>
    <arg name="dct_normalization" default="True" />
    <arg name="dct_filter_size"   default="2" />
    <arg name="marker0_frame"     default="aruco_marker_0_frame" />
    <arg name="marker1_frame"     default="aruco_marker_1_frame" />
    <arg name="marker2_frame"     default="aruco_marker_2_frame" />
    <arg name="marker3_frame"     default="aruco_marker_3_frame" />
    <arg name="marker4_frame"     default="aruco_marker_4_frame" />


    <node pkg="aruco_ros" type="double" name="aruco_simple">    
        <remap from="/camera_info" to="/camera/$(arg eye)/camera_info" />
        <remap from="/image" to="/camera/$(arg eye)/image_rect_color" />
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size" value="$(arg markerSize)"/>
        <param name="marker_id1" value="$(arg marker1Id)"/>
        <param name="marker_id2" value="$(arg marker2Id)"/>
        <param name="marker_id3" value="$(arg marker3Id)"/>
        <param name="marker_id4" value="$(arg marker4Id)"/>
        <param name="marker_id5" value="$(arg marker5Id)"/>
        <param name="normalizeImage" value="$(arg dct_normalization)"/>
        <param name="dct_components_to_remove" value="$(arg dct_filter_size)"/>
        <param name="parent_name" value="camera_$(arg eye)_optical_frame"/>
        <param name="child_name1" value="$(arg marker0_frame)" />
        <param name="child_name2" value="$(arg marker1_frame)" />
        <param name="child_name3" value="$(arg marker2_frame)" />
        <param name="child_name4" value="$(arg marker3_frame)" />
        <param name="child_name5" value="$(arg marker4_frame)" />

        <!-- TF BROADCASTING (Registered Aruco Markers)-->
        <param name="PoseMarkerID" type="string" value="0" />
        <param name="poseMarkerID" type="string" value="1" />
        <param name="poseMarkerID" type="string" value="2" />
        <param name="poseMarkerID" type="string" value="3" />
        <param name="poseMarkerID" type="string" value="4" />-
    </node>

</launch>

<!--
<launch>

    <arg name="marker1Id"         default="582"/>
    <arg name="marker2Id"         default="26"/>
    <arg name="markerSize"        default="0.04"/>    
    <arg name="eye"               default="left"/>
    <arg name="dct_normalization" default="True" />
    <arg name="dct_filter_size"   default="2" />
    <arg name="marker1_frame"     default="marker_hand_frame" />
    <arg name="marker2_frame"     default="marker_object_frame" />


    <node pkg="aruco_ros" type="double" name="aruco_simple">    
        <remap from="/camera_info" to="/stereo/$(arg eye)/camera_info" />
        <remap from="/image" to="/stereo/$(arg eye)/image_rect_color" />
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size" value="$(arg markerSize)"/>
        <param name="marker_id1" value="$(arg marker1Id)"/>
        <param name="marker_id2" value="$(arg marker2Id)"/>
        <param name="normalizeImage" value="$(arg dct_normalization)"/>
        <param name="dct_components_to_remove" value="$(arg dct_filter_size)"/>
        <param name="parent_name" value="stereo_gazebo_$(arg eye)_camera_optical_frame"/>
        <param name="child_name1" value="$(arg marker1_frame)" />
        <param name="child_name2" value="$(arg marker2_frame)" />
    </node>

</launch>


-->